html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline; }

input, button {
  font-family: "omnes-medium-webfont";
  font-size: 1em;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after {
  content: '';
  content: none; }

q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "omnes-regular";
  src: url("fonts/omnes-regular-webfont.eot?") format("eot"), url("fonts/omnes-regular-webfont.woff2") format("woff2"), url("fonts/omnes-regular-webfont.woff") format("woff"), url("fonts/omnes-regular-webfont.ttf") format("truetype"), url("fonts/omnes-regular-webfont.svg#omnes-regular") format("svg"); }
@font-face {
  font-family: "omnes-light";
  src: url("fonts/omnes-light-webfont.eot?") format("eot"), url("fonts/omnes-light-webfont.woff2") format("woff2"), url("fonts/omnes-light-webfont.woff") format("woff"), url("fonts/omnes-light-webfont.ttf") format("truetype"), url("fonts/omnes-light-webfont.svg#omnes-light") format("svg"); }
@font-face {
  font-family: "omnes-mediumitalic";
  src: url("fonts/omnes-mediumitalic-webfont.eot?") format("eot"), url("fonts/omnes-mediumitalic-webfont.woff2") format("woff2"), url("fonts/omnes-mediumitalic-webfont.woff") format("woff"), url("fonts/omnes-mediumitalic-webfont.ttf") format("truetype"), url("fonts/omnes-mediumitalic-webfont.svg#omnes-mediumitalic") format("svg"); }
@font-face {
  font-family: "omnes-medium-webfont";
  src: url("fonts/omnes-medium-webfont.eot?") format("eot"), url("fonts/omnes-medium-webfont.woff2") format("woff2"), url("fonts/omnes-medium-webfont.woff") format("woff"), url("fonts/omnes-medium-webfont.ttf") format("truetype"), url("fonts/omnes-medium-webfont.svg#omnes-medium-webfont") format("svg"); }
@font-face {
  font-family: "gotham-medium";
  src: url("fonts/gotham-medium.eot?") format("eot"), url("fonts/gotham-medium.woff2") format("woff2"), url("fonts/gotham-medium.woff") format("woff"), url("fonts/gotham-medium.ttf") format("truetype"), url("fonts/gotham-medium.svg#gotham-medium") format("svg"); }
body {
  background: #f1f1f1;
  font-family: "omnes-medium-webfont";
  color: #001111;
  font-size: 1em; }

.clr {
  clear: both; }

.con {
  width: 100%;
  float: left;
  clear: both; }
  .con .int {
    margin: 0 auto;
    max-width: 1600px;
    background: #fff; }
    .con .int .main {
      float: left;
      width: 100%;
      background: #fff; }

.header {
  min-height: 6em;
  margin: 2em auto;
  background: #fff;
  width: 100%;
  float: left; }
  .header .logo {
    float: left;
    width: 5em;
    height: 2em;
    margin: 2em 0 0 13em;
    line-height: 2em;
    text-align: center; }
    .header .logo a {
      font-family: "gotham-medium";
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.2em;
      color: #001111; }
  .header .main-menu {
    float: right;
    margin: 2em 0;
    line-height: 2em;
    width: 60%; }
    .header .main-menu .nav_link {
      margin: 0 0 0 4%;
      text-decoration: none;
      font-family: "gotham-medium";
      color: #001111;
      text-transform: uppercase;
      font-size: 0.7em;
      float: left; }
      .header .main-menu .nav_link:nth-of-type(5) {
        margin: 0 5% 0 4%; }
    .header .main-menu .search {
      min-width: 5em;
      width: 16%;
      float: left;
      height: 2em;
      position: relative; }
      .header .main-menu .search input {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        border: none;
        font-family: "omnes-light";
        background: transparent;
        -webkit-box-shadow: inset 0px -2px 0px 0px #eaeaea;
        -moz-box-shadow: inset 0px -2px 0px 0px #eaeaea;
        box-shadow: inset 0px -2px 0px 0px #eaeaea;
        -webkit-appearance: none;
        -moz-appearance: none; }
        .header .main-menu .search input:focus {
          -webkit-appearance: none;
          -moz-appearance: none; }
      .header .main-menu .search button {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none; }
        .header .main-menu .search button:focus {
          -webkit-appearance: none;
          -moz-appearance: none; }
    .header .main-menu .email {
      display: block;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background: #efc94c;
      float: left;
      margin: -0.5em 2em; }

.con.main .sect {
  width: calc(100%/3);
  float: left;
  margin: 4em auto; }
  .con.main .sect.active .icon {
    background: url(../img/img-wh.svg) no-repeat 50% 50%/15%, #efc94c; }
  .con.main .sect .icon {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background: url(../img/img.svg) no-repeat 50% 50%/15%, #eaeaea;
    border-radius: 50%; }
  .con.main .sect h2 {
    font-size: 1.3em;
    margin: 3em auto;
    text-align: center;
    font-family: "omnes-medium-webfont";
    text-transform: uppercase;
    letter-spacing: 0.3em; }
  .con.main .sect p {
    font-family: "omnes-light";
    font-size: 1em;
    text-align: center;
    color: #888888;
    max-width: 180px;
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 1.5em; }

.con.form {
  margin: 4em auto; }
  .con.form .int {
    background: transparent; }
    .con.form .int .main {
      background: transparent; }
  .con.form .gb-sign {
    display: block;
    width: 30%;
    margin: 0 auto;
    background: #fff; }
    .con.form .gb-sign h3 {
      font-family: "omnes-regular";
      font-size: 3em;
      text-align: center;
      clear: both;
      float: left;
      margin: 2em auto;
      width: 100%; }
    .con.form .gb-sign > p:nth-of-type(1) {
      font-family: "omnes-light";
      text-align: center;
      padding: 0 8em 2em; }

/*# sourceMappingURL=style.css.map */
