$main-bg: #f1f1f1;
$block-bg: #fff;
$select-bg: #efc94c;
$input-bg: #eaeaea;
$placeholder-bg: #888888;
$mainfc: #001111;
$m-width: 1600px;
$min-h: 6em;
$defaultfs: 1em;
$mth: 2em;
$got: "gotham-medium";
$omm: "omnes-medium";
$oml: "omnes-light";
$omi: "omnes-mediumitalic";